<phpunit bootstrap="autoload.php">
  <testsuites>
    <testsuite name="all">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">Domain/</directory>
    </whitelist>
  </filter>
</phpunit>
