<phpunit bootstrap="../vendor/autoload.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
>
  <testsuites>
    <testsuite name="all">
      <directory>src/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/Domain/</directory>
      <directory suffix=".php">src/Services/</directory>
      <directory suffix=".php">src/Interfaces/</directory>
      <directory suffix=".php">src/Infrastructure/</directory>
    </whitelist>
  </filter>
</phpunit>
